<!-- base.html -->
<!DOCTYPE>
{% comment %} <html> {% endcomment %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset='utf-8'>
    <title>
    {% block title %} 
        ImageWall
    {% endblock %}
    </title>
    {%load static%}
</head>
<body>
    <div class='container-fluid'>
        <div class="well post_title d-inline">
            <img width="100" height="100" src="{% static 'img/logo.png' %}">
            <h1>字跡辨識專題</h1>
        </div>
    <section class="text-center">
        <div class="container">
            <h1>
                ImageWall</h1>
            <div class="lead text-muted">
                Share your photos around the world.
            </div>
            {% block upload %}
            {% endblock  %}
        </div>   
    </section>
        <div class="container">
            {% comment %} {% block content %}
            {% endblock  %}   {% endcomment %}
            {% include 'menu.html'%}
        <div class='col-sm-8 col-md-8'>
            <div class="col-9">
                {%block content %}{% endblock %}
            </div>
        </div>
    <script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>