<meta charset='utf-8'>
<title>
    字跡辨識專題
</title>
<style>
    .post_title {
        font-family: 微軟正黑體;
        font-size: 18pt;
        font-weight: bold;
    }
    .post_body {
        font-family: 微軟正黑體;
        font-size: 12pt;
        letter-spacing: 1pt;
    }
</style>