<!-- index.html -->
{% extends 'base.html' %}

{% block upload %}
<form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <br />
    <div class="form-row">
        <div class="form-group col-md-4">
        </div>
        <div class="form-group col-md-4">
            <input class="btn btn-primary" type="submit" value="上傳" />
        </div>
        <div class="form-group col-md-4">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
        </div>
        <div class="form-group col-md-4">
            {{ form.image }}
        </div>
        <div class="form-group col-md-4">
        </div>
    </div>
</form>
{% endblock  %}
{% block title %} 
    字跡辨識專題 
{% endblock %}

{% block headmessage %}
    <h3 style='font-family:標楷體;'>目錄</a>
{% endblock %}

{% block content %}

{% for post in posts %}
<div class="panel panel-default">
    <div class="panel-heading">
    <div class='post_title'>
    <a href='/post/{{post.slug}}'>{{ post.title }}</a>
</div>
</div>
<div class="panel-body">
    <div class ="post_body">
        {{post.body | safe }}
    </div>
</div>
<div class="panel-footer">
    <div class="post_date">
        發佈時間 : {{post.pub_date | date:"Y M d, h:m:s"}}
    </div>
</div>
</div>

{% endfor %}
{% endblock %}
