<!-- index.html -->
{% extends 'base.html' %}
{% block title %} 歡迎光臨我的部落格 {% endblock %}
{% block headmessage %}
<h3 style='font-family:標楷體;'>本站文章列表</a>
    {% endblock %}
    {% block content %}
    {% for post in posts %}
    <div class='post_title'>
        <a href='/post/{{post.slug}}'>{{ post.title }}</a>
        <div class="post_body"> 
        </div>
        {% endfor %}
        {% endblock %}

