<!-- post.html -->
{% extends 'base.html' %}
{% block title %} {{ post.title }} - 文學天地 {% endblock %}
{% block headmessage %}
<div class='post_title'>
    <h3>{{ post.title }}</h3>
    <a style='font-family:微軟正黑體;' href='/'>回首頁
    </a>
</div>
{% endblock %}
{% block content %}
<div class='post_body'>
    {{ post.body }}</a>
</div>
{% endblock %}

--base.html
{% include 'footer.html' %}
    <div class='container-fluid'>
        <div class="well post_title">
            <h1>文齋</h1>
        </div>
        <div class='panel panel-default'>
        <div class="panel-header">
    {% block headmessage %} {% endblock %}
        </div>
        <div class="panel-body">
    {% block content %} {% endblock %}
        </div>
        <div class="panel-footer">
    {% include 'footer.html' %}
        </div>

       