<!-- index.html -->
{% extends 'base.html' %}

{% block title %} 
    {{post.title}}
{% endblock %}
    {{post}}
{% block headmessage %}
    <h3> {{post.title}} </h3>
{% endblock %}
    
{% block content %}
    <div class='post_body'>
    {{post.body}}</a>
    <div>
<a style='font-family:標楷體;' href='/'>回首頁</a>
{% endblock %}