<!-- sign_index.html -->
{% extends 'base.html' %}

{% block title %} 
    字跡辨識專題 
{% endblock %}

{% block headmessage %}
    <h3 style='font-family:標楷體;'>目錄</a>
{% endblock %}

{% block content %}

{% for post in posts %}
<div class="panel panel-default">
    <div class="panel-heading">
    <div class='post_title'>
    <a href='/post/{{post.slug}}'>{{ post.title }}</a>
    
    <select name="pets">
        <option value="">請選擇你最愛的寵物</option>
        <option value="dog">Dog</option>
        <option value="cat" selected>Cat</option>
        <option value="hamster">Hamster</option>
        <option value="parrot">Parrot</option>
        <option value="spider" disabled>Spider</option>
        <option value="goldfish">Goldfish</option>
    </select>
</div>
</div>
<div class="panel-body">
    <div class ="post_body">
        {{post.body | safe }}
    </div>
</div>
<div class="panel-footer">
    <div class="post_date">
        發佈時間 : {{post.pub_date | date:"Y M d, h:m:s"}}
    </div>
</div>
</div>
{% endfor %}
{% endblock %}
